<div>
	<!-- socialni sracky -->
	
	<a title="Zveřejnit v Hláškách Google" class="google-buzz-button" href="http://www.google.com/buzz/post" 
	data-button-style="normal-count" data-locale="cs"></a>
	&nbsp;
	<script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
	<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a><script type="text/javascript" 
	src="http://platform.twitter.com/widgets.js"></script>
	<span style="float:right" >
	<a name="fb_share" type="box_count" href="http://www.facebook.com/sharer.php">Sdílet</a>
	<script src="http://static.ak.fbcdn.net/connect.php/js/	FB.Share" type="text/javascript"></script>
	</span>
</div>
